version: '3.9'

services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=Europe/Madrid
    volumes:
      - ./config:/config
      - /run/dbus:/run/dbus:ro
