version: '3.9'

services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=Europe/Madrid
    volumes:
      - ./config:/config

    # ⚠️ Solo si tienes adaptador Bluetooth USB (opcional)
    #devices:
    #  - /dev/ttyUSB0:/dev/ttyUSB0
    #  - /dev/ttyAMA0:/dev/ttyAMA0
